.container {
  text-align: center;
}
.image {
  margin: 2px;
}

.footer {
  background-color: white;
  padding: 8px 12px;
}

.sub {
  line-height: 16px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #808492;
}
