/* Add here all your css styles (customizations) */


.u-block-hover:hover .u-block-hover__main--blur {
  -webkit-filter: blur(15px);
  filter: blur(15px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}