.container {
  display: flex;
  padding: 16px;
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
}

.container h1 {
  font-size: 18px;
  color: #394c5b;
  font-weight: bold;
  line-height: 24px;
}

.flag {
  flex: 1;
}

.description {
  flex: 8;
}

.second {
  color: #808492;
  font-weight: 300;
  margin-top: 6px;
  line-height: 16px;
}

.state {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #808492;
}

.image {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}
